body {
    font: 14px sans-serif;
}

.hidden {
	display: none;
}

select {
    display: block;
}
.bar {
    fill: purple;
    opacity: 0.8;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tab-list {
	display: flex;
	width: 1000px;
	justify-content: space-around;
}

.tab {
	cursor: pointer;
	width: 150px;
	height: 50px;
	background-color: #dddddd;
	transition: all 1s;
	color: #232830;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
}

.tab:not(.tab-selected):hover {
	background-color: #232830;
	color: white;
	font-weight: bold;
}

.tab-selected {
	background-color: #232830;
	color: white;
	font-weight: bold;
}


.list-group li:hover{
	color: white !important;
	text-emphasis: white;
	background-color: darkslateblue; !important;

}



a.nav-link {
	color: white;
	text-decoration:none;
}



a.nav-link:hover {
	color: white;
	text-decoration:none;
}


.jumbotron {
	padding-bottom: -100px !important;
}

#resultab {
	margin-top: 30px;
}

#resultab h4 {
	padding: 8px;
	color: white;
	height: 40px;
	line-height: 40px;
	display: block;
	background-color: #343A40;
	box-sizing: content-box;
	margin: 20px 0;
	font-size: 20px;
	border-radius: 5px;
}

.container {
	max-width: 1400px;
}

.tracking-panel {
	width: 100%;
	margin-top: 55px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 10px 5px;
}

.tracking-panel .btn-info {
	overflow: hidden;
}

.tracking-panel .row {
	margin: 20px 0;
}

#listOfPlaces li {
	cursor: pointer;
}

#recordDetail {
	margin-top: 50px;
}

.transaction-item h4 {
	padding: 8px;
	color: white;
	height: 40px;
	line-height: 40px;
	display: block;
	background-color: #343A40;
	box-sizing: content-box;
	margin: 20px 0;
	font-size: 20px;
	border-radius: 5px;
}

