body {
    font: 10px sans-serif;
}

.hidden {
	display: none;
}

select {
    display: block;
}
.bar {
    fill: purple;
    opacity: 0.8;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tab-list {
	display: flex;
	width: 1000px;
	justify-content: space-around;
}

.tab {
	cursor: pointer;
	width: 150px;
	height: 50px;
	background-color: #dddddd;
	transition: all 1s;
	color: #232830;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
}

.tab:not(.tab-selected):hover {
	background-color: #232830;
	color: white;
	font-weight: bold;
}

.tab-selected {
	background-color: #232830;
	color: white;
	font-weight: bold;
}






/*transaction*/

ul {
	position: absolute;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	overflow: scroll;
	margin: 0;
	padding: 0;

	border: 2px solid #ccc;

	font-size: 16px;
	font-family: Arial, sans-serif;
	-webkit-overflow-scrolling: touch;

/*// Again, this is where the magic happens*/
}

/*li {*/
	/*padding: 10px 20px;*/

	/*border-bottom: 1px solid #ccc;*/

/*&:last-child {*/
	 /*border-bottom: none;*/
 /*}*/

/*&:nth-child(even) {*/
	 /*background: #f8f8f8;*/
 /*}*/
/*}*/

/*#places .ul{*/

/*}*/


/*.ul {*/

/*}*/

/*#places .list-group{*/

/*}*/

/*.list-group{*/
	/*max-height: 300px;*/
	/*margin-bottom: 10px;*/
	/*overflow:scroll;*/
	/*-webkit-overflow-scrolling: touch;*/
/*}*/



